@import url(http://fonts.googleapis.com/css?family=Abel|PT+Sans);

/*---- MAIN ----- */

body {
	font-family: 'Abel', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #333333;
	background-color: #eeeeee;
	margin: 0px;
	word-spacing: 0.2em;
}

#world {
         height: 400px;
         width: auto;
       }
       
#map-ui {
list-style:none;
margin:0;padding:0;
z-index:100;
}
#map-ui a {
 font:normal 18px/22px 'Helvetica Neue',Helvetica,sans-serif;
 background:#3887BE;
 color:#FFF;
 display:block;
 margin:0 0 0 10px;padding:0;
 border:1px solid #BBB;
 padding:10px;
 text-decoration:none;
 float: left;
 }
#map-ui a:hover { background:#ECF5FA; }
#map-ui li:last-child a {
 -webkit-border-radius:0 0 3px 3px;
         border-radius:0 0 3px 3px;
 }
#map-ui li:first-child a {
 -webkit-border-radius:3px 3px 0 0;
         border-radius:3px 3px 0 0;
       }
#map-ui a:hover {
  background:#FFF;
   color:#3C4E5A;
    border-color:#3887BE;
 border-top-color:#FFF;
 }

.container.frame {
	padding: 1.5em;
	background-color: #ffffff;
	-moz-box-shadow: 0px 0px 10px #ccc;
	-webkit-box-shadow: 0px 0px 10px #ccc;
	box-shadow: 0px 0px 10px #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 8px;
	margin-top: 80px;
	behavior: url(/static/css/PIE.htc);
}

/* Topbar color */
.navbar-inner {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #077d56;
  background-image: -moz-linear-gradient(top, #077d56, #056747);
  background-image: -ms-linear-gradient(top, #077d56, #056747);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#077d56), to(#056747));
  background-image: -webkit-linear-gradient(top, #077d56, #056747);
  background-image: -o-linear-gradient(top, #077d56, #056747);
  background-image: linear-gradient(top, #077d56, #056747);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#077d56', endColorstr='#056747', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar .nav > li > a,
.navbar .dropdown-menu a {
    padding: 6px 15px;
    font-weight: bold;
    color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }


/*--- HEADINGS ---*/

h1,.alpha {
	font-family: 'PT Sans', sans-serif;
	font-size: 1.5em;
	line-height: 1.9em;
	color: #434343;
}

h2,.beta {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 1.3em;
	line-height: 1.2em;	
	color: #232323;
}

h3,.gamma {
	margin-top: 20px;
	margin-bottom: 5px;
	color: #232323;	
	font-size: 1.1em;
	line-height: 1.2em;
}

/*--- TEXT ---*/

p, ul li p {
	font-size: 0.9em;
	line-height: 22px;
}
 
.subline {
	color: #676767;
	font-size: 12px;
	line-height: 18px;
}

span.big-letter  {
	font-size: 17px;
	color: #07833b;
	font-weight: bold;
}

.right {
	float: right;
}

.centered {
	margin: 0 auto;
}

.center {
	text-align: center;
}

.left {
	float: left;
}

/*--- LINKS ---*/

a {
	color: #fa6c04;
	text-decoration: none;
	font-weight: bold;
}

a:visited {
	opacity: 0.8;
}

a:hover {
	text-decoration: underline;
}

a:active,
a:focus {
	position: relative;
	top: 1px;
}

/*--- HEADER ---*/

#site-title {
	font-family: 'Abel', sans-serif;
	font-size: 42px;
	padding-top: 24px;
	font-weight: bolder;
	text-transform: none;
	margin-bottom: 20px;
	color: #333333;
}

#site-title a, 
#site-title a:active,
#site-title a:hover,
#site-title a:visited {
	color: #333333;
	text-decoration: none;
}

#slogan {
	font-size: 1em;
	padding-bottom: 24px;
}

#banner {
	background: none repeat scroll 0 0 #20567c;
	padding: 0 5px;
	height: 3px;
	margin-bottom: 10px;
}

img.logo {
	margin-top: 18px;
	margin-right: 10px;
}

/*---- HIGHLIGHT BOX ---- */

.highlight-box {
text-align: center;
margin: auto;
}

.jahr {	
font-size: 3.2em;
margin: 20px 0 20px;
}

.highlight-value-box {
	font-size: 1.7em;
	display: block;
	width: 200px;
	height: 69px;
	background-color: #20567c;
	color: #ffffff;
	padding: 5px;
	margin: 0px 0 8px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #20567c;
}

.header-box {
	margin-top: 10px;
}
#banner-fg {
	float: right;
	background: url(/static/img/fg-banner.png) 0 0 no-repeat;
	z-index: 99999;
}

.beta {
	position: relative;
	top: -10px;
	background: orange;
	width: 60px;
	color: #fff;
	font-size: 22px;
	margin-left: 30px;
	padding: 3px;
	margin-top: -20px; 
	}

.subheader-box {
	margin-top: 10px;
	font-size: 0.6em;
}

/*-- BUTTONS --*/

ul.years {
	list-style: none;
	margin: 20px 1px 0 0;
	float: right;
}

ul.years li {
	list-style: none;
	display: block;
	float: left;
}

ul.years li a {
	background-color: #fa6c04;
	color: #ffffff;
	padding: 10px;
	border: 1px solid #ffffff;
	text-decoration: none;
}

ul.years li.active a {
	background-color: #20567c;
}

ul.years li a:hover {
	background-color: #eeeeee;
	color: #20567c;
}

.download {
	float: right;
	margin-right: 50px;
}

.download a {
	background-color: #fa6c04;
	color: #ffffff;
	padding: 10px;
	border: 1px solid #ffffff;
	text-decoration: none;
}

/*--- TREEMAP VIZ --*/

#mainvis {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	color: #ffffff;
	font-size: 1.2em;
	font-weight: bold;
}

#mainvis div.desc {
	padding: 0.8em;
	font-weight: normal;
	overflow: hidden;
}

#mainvis h2 {
	font-size: 1em;
	color: #ffffff;
	font-weight: normal;
	margin-bottom: 0.1em;
}

#_tooltip {
	background-color: #DDE7F0;
	padding: 4px 6px;
	border: 1px solid #A3B3C7;
}

.minus { 	
color: #bb5d02; }  

.difference.format { 	
float: left; 	
width: 85px;
font-size: 15px; }  

.diff, .ind {
	padding-left: 3px;
}

.indicator.format { 	
float: left; 	
width: 85px;
font-size: 13px; }  
  
.average.format { 	
float: left; 	
padding-right: 28px; 	
font-size: 13px; }


/*-- LAYOUT --*/

.spacetop {
	padding-top: 30px;
}

.spacetree {
	padding-top: 60px;
}


.spaceheader {
	padding-top: 20px;
}


.spacebottom {
	padding-bottom: 30px;
}

/*-- Footer --*/

#footer {
  margin: 20px 0 20px 0;
}

#footer ul { list-style-type: none;
   margin: 0;
   padding: 1em 0 0 55px;
}

#footer ul li {
    display: inline-block;
    padding-right: 1em;
}

#footer .logo {
    display: block;
    float: left;
    padding-right: 0.5em;
}

.footer {
	font-size: 0.9em;
}

#footer a {
  font-weight: normal;
}

.site {
    margin: 0 auto;
    width: 960px;
}

.vertical.map {
	margin-top: 10px;
}

.legend.boxtext {
	font-size: 0.9em;
	float: left;
	margin-right: 5px;
}

.graphtext1 {
padding-left: 20px;
padding-right: 25px;	
}

.graphtext2 {
padding-left: 50px;	
}

.seitenbox {
	font-size: 1.1em;
	line-height: 1.6em;
}

.recipientname {
	font-size: 1.6em;
}

.inside {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.inside span.country {
  font-size: 20px;
  line-height: 24px;
  display: block;
  }


#sortTable .currency {
	width: 140px;
}

/***************************/
/* Table sorting */

table .header {
  cursor: pointer;
}
table .header:after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000 transparent;
  visibility: hidden;
}
table .headerSortUp, table .headerSortDown {
  background-color: rgba(141, 192, 219, 0.25);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
table .header:hover:after {
  visibility: visible;
}
table .headerSortDown:after, table .headerSortDown:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
table .headerSortUp:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
table .blue {
  color: #049cdb;
  border-bottom-color: #049cdb;
}
table .headerSortUp.blue, table .headerSortDown.blue {
  background-color: #ade6fe;
}
table .green {
  color: #46a546;
  border-bottom-color: #46a546;
}
table .headerSortUp.green, table .headerSortDown.green {
  background-color: #cdeacd;
}
table .black {
  color: #232323;
  border-bottom-color: #9d261d;
}
table .headerSortUp.red, table .headerSortDown.red {
  background-color: #f4c8c5;
}
table .yellow {
  color: #ffc40d;
  border-bottom-color: #ffc40d;
}
table .headerSortUp.yellow, table .headerSortDown.yellow {
  background-color: #fff6d9;
}
table .orange {
  color: #f89406;
  border-bottom-color: #f89406;
}
table .headerSortUp.orange, table .headerSortDown.orange {
  background-color: #fee9cc;
}
table .purple {
  color: #7a43b6;
  border-bottom-color: #7a43b6;
}
table .headerSortUp.purple, table .headerSortDown.purple {
  background-color: #e2d5f0; }



