{% extends "layout.html" %}
{% set active_page = "analyse" %} 
{% block title %}Daten {% endblock %}
{% block body %}
 

	<div class="span12 spacetop">
			<h1>Analyse</h1>

		
		</div>
</div>
<div class="row">

<div class="span9">

{% filter markdown %}

Offene Entwicklungshilfe erleichtert den Zugang zu den Ausgaben der deutschen Entwicklungszusammenarbeit. Das kann aber nur der erste Schritt sein. Der nächste Schritt ist die Analyse der Daten, so dass interessante Erkenntnisse gewonnen werden. 

An dieser Stelle sind Sie gefragt Ihre Eindrücke und Analysen der Daten hier oder direkt im Kommentarfeld unter der jeweiligen Seite beizutragen. Wir freuen uns über Ihre Beiträge und Rückmeldungen. 

{% endfilter %}


</div>
<div class="span3">

	
</div>
</div>
<div class="span10 spacetop">
    <div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'offeneentwicklungshilfe';
    var disqus_identifier = '{{request.path}}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>



{% endblock %}

