<script type="text/javascript">
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	function drawChart() {
	 	var data = new google.visualization.DataTable();
        data.addColumn('string', 'Year');
        data.addColumn('number', 'Zuschüsse USD');
		data.addColumn('number', 'Kredite USD');
                                    
		data.addRows([ 
			
			{% for entry in flows %}
            ['{{ entry['Year'] }}',{{ entry['grant']}}
            ,{{ entry['loan']}}
            ]{% if loop.last == False %},{% endif %}
			{% endfor %}		
				]);

		var options = {
	height: 340,
		colors:['#bb5d02','#07833b'],
		tooltip: {textStyle: {color: '#232323', fontSize: 16}, showColorCode: true},
		chartArea: {left:40, width: 380},
		lineWidth: 5,
		pointSize: 8,
		legend: {position: 'bottom', textStyle: {fontSize: 12}}       
		};

	var chart = new google.visualization.AreaChart(document.getElementById('history'));
	var formatter = new google.visualization.NumberFormat({groupingSymbol: '.', fractionDigits: 0});
	formatter.format(data, 1);
	formatter.format(data, 2);
	chart.draw(data, options);
	}
</script>
<script type="text/javascript">
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	function drawChart() {
	 	var dataB = new google.visualization.DataTable();
        dataB.addColumn('string', 'Jahr');
        dataB.addColumn('number', '{{ topsector[0]['sectorname'] }}');		
        {% if topsector[1] %}
        dataB.addColumn('number', '{{ topsector[1]['sectorname'] }}');		
        {% endif %}
        {% if topsector[2] %}
        dataB.addColumn('number', '{{ topsector[2]['sectorname'] }}');		
        {% endif %}
        {% if topsector[3] %}
        dataB.addColumn('number', '{{ topsector[3]['sectorname'] }}');		
        {% endif %}
        {% if topsector[4] %}
        dataB.addColumn('number', '{{ topsector[4]['sectorname'] }}');		
        {% endif %}
		
		
        dataB.addRows([ 
                {% for entry in sectoryears %}
                ['{{ entry['Year'] }}',{{ entry['sector1']}},{{ entry['sector2']}}
        {% if topsector[2] %}
                ,{{ entry['sector3']}}
        {% endif %}
        {% if topsector[3] %}
                ,{{ entry['sector4']}}
        {% endif %}
        {% if topsector[4] %}
                ,{{ entry['sector5']}}
        {% endif %}
            ]{% if loop.last == False %},{% endif %}
			{% endfor %}		
				]);

		var optionsB = {
		height: 340,
    colors: ["#ffb522","#f8e47f","#31398f","#f654ef","#21f36f"],
		tooltip: {textStyle: {color: '#232323', fontSize: 16}, showColorCode: true},
		chartArea: {left:40, width: 380},
		lineWidth: 3,
		pointSize: 4,
		legend: {position: 'bottom', textStyle: {fontSize: 12}}
				};

	var chartB = new google.visualization.LineChart(document.getElementById('human'));
	var formatter = new google.visualization.NumberFormat({groupingSymbol: '.', fractionDigits: 0});
	formatter.format(dataB, 1);
	formatter.format(dataB, 2);
        {% if topsector[2] %}
	formatter.format(dataB, 3);
        {% endif %}
        {% if topsector[3] %}
	formatter.format(dataB, 4);
        {% endif %}
        {% if topsector[4] %}
	formatter.format(dataB, 5);
        {% endif %}
	chartB.draw(dataB, optionsB);
	}
</script>
