{% block openspending %}

<script type=text/javascript src="{{
  url_for('static', filename='js/underscore-min.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='js/backbone-min.js') }}"></script>


<!-- OpenSpending Treemap Plugin includes -->
<!--[if IE]><script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/excanvas.js') }}"></script><![endif]-->
<script type=text/javascript src="{{
  url_for('static', filename='js/jitload.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='js/thejit-2.min.js') }}"></script>


{% endblock %}


