<script type="text/javascript">
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	function drawChart() {
	 	var data = new google.visualization.DataTable();
        data.addColumn('string', 'Year');
		data.addColumn('number', 'Zuschüsse USD');
		data.addColumn('number', 'Kredite USD');
		
		data.addRows([ 
			
			{% for entry in flows %}
			['{{ entry['Year'] }}',{{ entry['grant'] }}, {{ entry['loan'] }}]{% if loop.last == False %},{% endif %}
			{% endfor %}		
				]);

		var options = {
	height: 340,
	colors:['#bb5d02','#07833b'],
		tooltip: {textStyle: {color: '#232323', fontSize: 16}, showColorCode: true},
		chartArea: {left:60, width: 380},
		lineWidth: 5,
		pointSize: 8,
		legend: {position: 'bottom', textStyle: {fontSize: 12}}       
		};

	var chart = new google.visualization.AreaChart(document.getElementById('history'));
    var formatter = new google.visualization.NumberFormat({groupingSymbol: '.', fractionDigits: 0});
	formatter.format(data, 1);
	formatter.format(data, 2);
	chart.draw(data, options);
	}
</script>
<script type="text/javascript">
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	function drawChart() {
	 	var dataB = new google.visualization.DataTable();
        dataB.addColumn('string', 'Year');
				dataB.addColumn('number', 'Projekte');
				dataB.addRows([ 
							{% for entry in activities %}
							['{{ entry['Year'] }}',{{ entry['total_activities'] }}]{% if loop.last == False %},{% endif %}
							{% endfor %}		
								]);
		
		var optionsB = {
		height: 340,
		colors:['#bb5d02','#07833b'],
		tooltip: {textStyle: {color: '#232323', fontSize: 16}, showColorCode: true},
		chartArea: {top: 65, left:40, width: 380},
		lineWidth: 5,
		pointSize: 8,
		legend: {position: 'bottom', textStyle: {fontSize: 12}}
				};

	var chartB = new google.visualization.BarChart(document.getElementById('human'));
	chartB.draw(dataB, optionsB);
	}
</script>
